:root {
  --yellow-color: #f9f002;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --purple-color: purple;
  --neon-color: #39ff14;
  --black-color: #000;
  --padding: 45px;
  --border-height: 3px;
}

@font-face {
  font-family: 'Advent Pro';
  src:
    url(../fonts/AdventPro-Italic-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: 'Advent Pro';
  src:
    url(../fonts/AdventPro-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/VT323-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Medieval Pixel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/assests/fonts/medieval-pixel.otf) format('opentype');
}

*, html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--yellow-color);
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color: var(--black-color);
  font-weight: 400;
  font-family: "Advent Pro", arial;
}

a { color: inherit; }

body > section {
  margin: auto;
  width: 100%;
  position: relative;
}

section > p,
section > ul,
section > blockquote,
section > h2,
section > h3,
section > h4,
section > h5,
section > ol,
section > ul,
section > div,
section > a {
  display: block;
  padding: 0 0 calc((var(--padding) * 0.4) / 2) 0;
  margin: 0 calc(var(--padding) * 0.4) ;
}

section > ol,
section > ul {
  counter-reset: li;
  margin-left: calc((var(--padding) * 0.4) + 1.2rem + 10px);
}

ul {
  padding-left: 22px;
}

@media (min-width: calc(100vh * 0.7)) {
  section > p,
  section > ul,
  section > blockquote,
  section > pre,
  section > h2,
  section > h3,
  section > h4,
  section > h5,
  section > ol,
  section > ul,
  section > div,
  section > a  {
    padding: 0 0 calc(var(--padding) / 3) 0;
    margin: 0 var(--padding) ;
  }

  section > ol,
  section > ul {
    counter-reset: li;
    margin-left: calc(var(--padding) + 1.2rem + 10px);
  }
}

body > section:nth-of-type(odd) { 
  background-color: var(--black-color); 
  color: var(--yellow-color); 
}

body:before {
  opacity: 0;
  position: fixed;
  content: "";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: var(--yellow-color) url(../images/bg.png) top left repeat;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
  transform: scaleX(-1);
  z-index: 5;
}

body:after {
  opacity: 0;
  position: fixed;
  content: "";
  display: block;
  background: var(--yellow-color) url(../images/bg2.png) top right repeat;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
  z-index: 5;
}

section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
}

section:first-of-type,
section:last-of-type {
  z-index: 10;
}

section:first-of-type:after {
  display: none;
}

section:first-of-type > div:not(.saltopagina) {
  width: 100%;
  max-width: 505px;
  padding-bottom: 50px;
}

section:first-of-type > div.saltopagina {
  display: none;
}

section:nth-of-type(2) > p,
section:nth-of-type(2) > blockquote {
  word-wrap: break-word;
}

section:first-of-type > div > h1/*,
section:last-of-type > div > h1*/ {
  height: auto;
  margin: 0;
  background-color: transparent;
}

section:first-of-type > div:nth-of-type(3) {
  text-align: center;
}

section:nth-of-type(2) {
  padding-top: var(--padding);
}

/* titles */

h2,
h3,
h4 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}

h2 + .columns > p:first-of-type:first-letter {
  font-family: 'Medieval Pixel', cursive;
  font-size: 5.7em;
  display: block;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 11px 5px 0px;
  color: var(--black-color);
}

section:nth-of-type(odd) h2 + .columns > p:first-of-type:first-letter {
  color: var(--yellow-color);
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.2rem;
  font-weight: 700;
}

h2:before,
h3:before,
h4:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 2px;
  width: 100%;
  height: 10px;
  background-color: var(--black-color);
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h2:before {
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h3:before {
  clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4:before {
  clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h2:after,
h3:after,
h4:after/*,
p:not(.saltocolumna):not(*:has(img)):after*/ {
  content: "_";
}

section:nth-child(odd) h2,
section:nth-child(odd) h3,
section:nth-child(odd) h4 {
  color: var(--yellow-color);
}

section:nth-child(odd) h2:before,
section:nth-child(odd) h3:before,
section:nth-child(odd) h4:before,
section:nth-child(odd) hr {
  background-color: var(--yellow-color);
}

/* Images */

img:not(section:first-of-type img, section:nth-of-type(2) img) {
  padding: 30px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin: 0 calc(var(--padding) * 0.4);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
  max-width: 100%;
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
}

section > .columns:nth-child(even) > p img:not(section:first-of-type img, section:nth-of-type(2) img) {
  clip-path: polygon(0% 25px, 40% 25px, calc(40% + 12px) 12px, 50% 12px, calc(50% + 12px) 0px, calc(100% - 25px) 0px, 100% 25px, 100% 100%, 70% 100%,  calc(70% - 10px) calc(100% - 10px), 30% calc(100% - 10px), calc(30% - 10px) 100%, 10px 100%, 0% calc(100% - 10px));
}

section:nth-of-type(odd) img:not(section:first-of-type img, section:nth-of-type(2) img) {
  background-color: var(--yellow-color);
}

@media (min-width: calc(100vh * 0.7)) {
  img {
    margin: 0 var(--padding);
  }
}

section:nth-of-type(odd) > img {
  background-color: var(--yellow-color);
}

/* Paragraphs and lists */
section > *:is(p, ul, ol) + *:is(h2, h3, h4) {
  margin-top: 30px;
}

pre {
  white-space: pre-wrap;
}

pre > code {
  font-family: 'VT323', monospace, arial;
  display: block;
  border: 30px solid var(--black-color);
  border-right: 5px solid var(--black-color);
  border-left: 5px solid var(--black-color);
  border-bottom: 24px solid var(--black-color);
  padding: 5px;
  clip-path: polygon(0px 25px, 20% 25px, calc(20% + 25px) 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, calc(40% + 80px) calc(100% - 0px), calc(40% + 65px) calc(100% - 15px), 0% calc(100% - 15px));
  background-color: var(--yellow-color);
  font-size: 1.2rem;
  position: relative;
}

section:nth-child(odd) pre > code {
  border: 30px solid var(--yellow-color);
  border-right: 5px solid var(--yellow-color);
  border-left: 5px solid var(--yellow-color);
  border-bottom: 24px solid var(--yellow-color);
  background-color: var(--black-color);
}

pre > code:before,
blockquote > p:before {
  content: "P-14";
  display: block;
  position: absolute;
  bottom: -12px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

section:nth-child(odd) pre > code:before,
section:nth-child(odd) blockquote > p:before  {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

blockquote {
  margin: 0;
}

blockquote > p {
  border: none;
  padding: 40px 15px 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: var(--black-color);
  color: var(--yellow-color);
  border-right: 3px solid var(--border-color);
  font-size: 1.2rem;
  position: relative;
}

blockquote > p:before {
  content: "T-71";
  right: 90px;
  bottom: 9px;
}

section:nth-child(odd) blockquote > p {
  border: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  border-right: 2px solid var(--border-color);
  padding: 40px 15px 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  font-size: 1.2rem;
  position: relative;
}

body > section:nth-child(odd) > blockquote > p > a,
body > section:nth-child(odd) > blockquote > p > a:visited {
  color: var(--black-color) !important;
}

ol > li {
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  counter-increment: li;
  
}

ol > li:before {
  content: counter(li);
  top: 0px;
  left: calc(-1.2rem - 10px);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--yellow-color);
  background-color: var(--black-color);
  font-weight: 700;
  position: absolute;
  display: block;
  clip-path: polygon(0% 0%, 60% 0%, 100% 40%, 100% 100%, 0% 100%);
}

section:nth-child(odd) ol > li:before {
  color: var(--black-color);
  background-color: var(--yellow-color);
}

p.seed {
  color: var(--neon-color);
  background-color: var(--black-color);
  border: var(--border-height) dashed var(--neon-color);
  padding: calc(var(--padding) / 2);

}

section:last-of-type {
  max-height: calc(100vh - 1px);
  min-height: calc(100vh - 1px);
}

/* Portadas de capítulos */

h1 {
  font-family: 'VT323', monospace, arial;
  font-size: 3em;
  line-height: 120%;
  margin: 0;
  text-align: center;
  color: var(--black-color);
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--yellow-color) center center no-repeat;
  background-size: cover;
  margin-bottom: var(--padding);
}
section:nth-child(odd) h1 {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

h1 > strong {
  opacity: 0;
}

section:first-of-type {
  background-image: url('../images/portada.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  align-items: center;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}

section:nth-of-type(4) h1 {
  background-image: url('../images/20585.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

section:nth-of-type(5) h1 {
  background-image: url('../images/futuristic_circuit_texture_by_madragonn_d2aoqlt-414w-2x.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

section:nth-of-type(6) h1 {
  background-image: url('../images/arcolog1a.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

section:nth-of-type(7) h1 {
  background-image: url('../images/background-with-printed-circuit-board-concept-modern-technologies.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: var(--purple-color);
  text-shadow: 2px 0 var(--yellow-color), -2px 0 var(--yellow-color), 0 2px var(--yellow-color), 0 -2px var(--yellow-color), 1px 1px var(--yellow-color), -1px -1px var(--yellow-color), 1px -1px var(--yellow-color), -1px 1px var(--yellow-color);
}

section:nth-of-type(8) h1 {
  background-image: url('../images/popbg1_06.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

section:nth-of-type(9) h1 {
  background-image: url('../images/27175.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-shadow: 0 0 6px #000;
  color: var(--yellow-color);
}

section:nth-of-type(10) h1 {
  background-image: url('../images/591.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-shadow: 0 0 6px #000;
  color: var(--yellow-color);
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 80px;
}

section:nth-of-type(11) h1 {
  background-image: url('../images/3152762.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #001607;
}

section:nth-of-type(12) h1 {
  background-image: url('../images/epilogo.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: var(--yellow-color);
}

section:last-of-type {
  background-image: url(../images/4664.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 80% auto;
}

/* Paginación */
@counter-style style {
  system: numeric;
}

body {
  counter-reset: primary 1;
}

.saltopagina {
  position: relative;
  counter-increment: primary 1; /* Increment the value of section counter by 1 */
}

.saltopagina:after {
  --size: 30px;
  font-family: 'VT323', monospace, arial;
  display: flex;
  justify-content: center;
  align-items: center;
  content: counters(primary, "-", style);
  color: var(--neon-color);
  position: absolute;
  bottom: 11px;
  left: 10px;
  width: var(--size);
  height: var(--size);
  background-color: var(--purple-color);
  z-index: 10;
  opacity: 1;
  clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 100%, 0% 100%);
}

section h1 + .saltopagina:after {
  opacity: 0;
}

.saltopagina.even:after {
  left: auto;
  right: 10px;
  clip-path: polygon(33% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 33%);
}

/* Indice */
.likeH1,
.likeH2 {
  display: block;
  cursor: pointer;
  margin: 0 0 1px 0;
  text-decoration: none;
  font-size: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.likeH1 {
  font-size: 1.3em;
  font-family: 'VT323', monospace, arial;
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH1 span,
.likeH2 span {
  display: none;
  float: right;
  margin-right: 5px;
}

.columns > *:first-child:not(p.seed),
.saltocolumna + *,
.saltocolumna + blockquote > p {
  margin-top: 0;
  padding-top: 0;
}

/* Media Query */

@media print {
  .columns {
    columns: 2;
  }
  
  .saltocolumna {
    break-before: column;
    height: 0px;
    padding: 0;
    margin: 0;
  }

  @page {
    size: A4;
    margin: 0;
  }

  table {
    width: 100%;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    padding: 0;
    margin: 0px;
    opacity: 1; 
    position: relative;
  }

  section .saltopagina:not(li) + * {
    margin-top: var(--padding);
  }

  body > .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(4) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(5) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(6) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(7) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(8) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(9) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(10) .saltopagina:nth-of-type(1):after,
  body > section:nth-of-type(11) .saltopagina:nth-of-type(1):after {
    display: none;
  }

  body:after,
  body:before { opacity: 1; }

  h1 {
    margin-left: -10px !important;
    margin-right: -10px !important;
    height: calc(100vh - 1px);
    position: relative;
    z-index: 10;
  }

  section:first-of-type > div:nth-of-type(3) {
    padding-bottom: 90px;
  }

  body > section:nth-of-type(3) {
    padding-top: var(--padding) ;
  }

  .likeH1 span,
  .likeH2 span {
    display: block;
  }

  /*section:nth-of-type(12) h1 {
    justify-content: flex-end;
    background-position: top center;
  }
  section:nth-of-type(12) h1 strong {
    margin-bottom: 100px;
  }*/

  section:nth-of-type(9) h1 strong {
    padding-bottom: 300px;
  }

  .nopdf {
    display: none !important;
  }
}

/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */

@media screen {
  .columns {
    columns: 2;
  }
  
  body > section:nth-of-type(3) {
    padding: var(--padding) 0px;
    box-sizing: border-box;
  }
  
  body > section:nth-of-type(3) div:not(body>section:nth-of-type(3) div:last-of-type) {
    padding: 0;
  }
  
  blockquote + div.saltopagina + blockquote {
    border-top: none; margin-top: -50px;
  }

  .saltopagina { 
    display: block; 
    height: 0; 
    overflow: hidden;
  }
}

/* Table */

table {
  margin: 15px auto;
  border: 3px dashed var(--yellow-color);
}

section:nth-child(even) table {
  border-color: var(--black-color);
}

section > div:has(table) {
  overflow-x: auto;
  padding-bottom: 0px;
}

table thead tr:first-child th {
  font-size: 1.1em;
  color: var(--neon-color);
}

table thead {
  background-color: var(--purple-color);
}

table thead tr th {
  padding: 10px;
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'VT323', monospace, arial;
}

table tbody tr > * {
  transition: all 0.6s;
  padding: 5px;
}

table tbody tr th[colspan] {
  background-color: var(--purple-color);
}

table tbody tr:nth-child(odd) {
  background-color: var(--yellow-color);
}

table tbody tr:nth-child(odd) *:is(th,td) {
  color: var(--black-color);
}

section:nth-child(even) table tbody tr:nth-child(odd) {
  background-color: var(--black-color);
}

section:nth-child(even) table tbody tr:nth-child(odd) *:is(th,td) {
  color: var(--yellow-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  transition: background 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}

/* Botón descarga */

a.download {
  --text: "R-25";
  --background-color: var(--red-color);
  display: block;
  border: none;
  border-radius: 0%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 35px 75px;
  margin: 10px 20px 10px 0px;
  position: relative;
  color: #fff;
  border-right: 3px solid var(--border-color);
  clip-path: polygon(
    -15px 0%,
    calc(100% + 15px) 0%,
    calc(100% + 15px) 100%,
    20px 100%,
    -15px calc(100% - 35px)
  );
  cursor: pointer;
  background-color: var(--background-color);
  outline: none;
  display: inline-block;
  text-decoration: none;
}

a.download:after {
  content: var(--text);
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

a.download:before {
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}