:root {
  --glitched-duration: 0.9s;
  --glitched-long-duration: 3s;
  --yellow-color: #f9f002;
  --yellow-color-opacity: #f9f00242;
  --orange-color: #ff9800;
  --border-color: #8ae66e;
  --red-color: #ff003c;
  --blue-color: #0c5f74;
  --green-color: #298d29;
  --purple-color: purple;
  --neon-color: #39ff14;
  --black-color: #000;
  --padding: 45px;
}

@font-face {
  font-family: 'Advent Pro';
  src:
    url(../fonts/AdventPro-Italic-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: italic;
}

@font-face {
  font-family: 'Advent Pro';
  src:
    url(../fonts/AdventPro-VariableFont_wdth,wght.ttf) format('truetype') tech(variations);
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/VT323-Regular.ttf) format('truetype');
}

*, html {
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--yellow-color);
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color: var(--black-color);
  font-weight: 400;
  font-family: "Advent Pro", arial;
  
}

body:after {
  content: "";
  position: fixed;
  bottom: 35px;
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background-color: var(--yellow-color);
  clip-path: polygon(0% 0%, 66% 0%, 100% 33%, 100% 100%, 0% 100%);
  z-index: 15;
  opacity: 0;
}

a { color: inherit; }
/*a { color: var(--black-color); }
body > section:nth-of-type(odd) a, body > section:nth-of-type(odd) a:link, body > section:nth-of-type(odd) a:visited {color: var(--yellow-color); }*/

body > section {
  margin: auto;
  width: 100%;
  position: relative;
}

section > p,
section > ul,
section > blockquote,
section > h2,
section > h3,
section > h4,
section > h5,
section > ol,
section > ul,
section > div,
section > a {
  display: block;
  padding: 0 0 calc((var(--padding) * 0.4) / 2) 0;
  margin: 0 calc(var(--padding) * 0.4) ;
}

section > ol,
section > ul {
  counter-reset: li;
  margin-left: calc((var(--padding) * 0.4) + 1.2rem + 10px);
}

ul {
  padding-left: 22px;
}

@media (min-width: calc(100vh * 0.7)) {
  /*body>section {
    max-width: calc(100vh * 0.7);
    padding: 0px;
  }*/

  section > p,
  section > ul,
  section > blockquote,
  section > pre,
  section > h2,
  section > h3,
  section > h4,
  section > h5,
  section > ol,
  section > ul,
  section > div,
  section > a  {

    padding: 0 0 calc(var(--padding) / 3) 0;
    margin: 0 var(--padding) ;
  }

  section > ol,
  section > ul {
    counter-reset: li;
    margin-left: calc(var(--padding) + 1.2rem + 10px);
  }
}

h1 {
  font-family: 'VT323', monospace, arial;
}

h1 > span {
  display: block;
  font-size: 22px;
  opacity: 0;
  transition: opacity 0.3s;
}

h1:hover > span {
  opacity: 1;
}

.saltopagina { display: none; }



body > section:nth-of-type(odd) { background-color: var(--black-color); color: var(--yellow-color); }

body > section:before {
  opacity: 0;
  position: fixed;
  content: "";
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: var(--yellow-color) url(../images/bg.png) top left repeat;
  clip-path: polygon(
    calc(22% + 28px) -1px, 
    calc(22% + 45px) 15px, 
    34% 15px, 
    calc(34% + 15px) -1px, 
    0% 0%, 0% 10%, 
    30px calc(10% + 30px), 
    30px 100%, 
    0% 100%,
    0% 0%
  );
  transform: scaleX(-1);
}

body > section:after {
  opacity: 0;
  position: fixed;
  content: "";
  display: block;
  background: var(--yellow-color) url(../images/bg2.png) top right repeat;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  clip-path: polygon(
    0px 30%,
    30px calc(30% + 30px), 
    30px calc(100% - 30px), 
    22% calc(100% - 30px), 
    calc(22% + 30px) 100%, 
    52% 100%, calc(52% + 15px) 
    calc(100% - 15px), 
    70% calc(100% - 15px), 
    calc(70% + 15px) 100%, 
    90% 100%, 
    calc(90% + 30px) calc(100% - 30px), 
    100% calc(100% - 30px), 
    100% 100%, 
    0px 100%);
}

section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100vh;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding: 10px;
  box-sizing: border-box;
  /*background-color: var(--black-color)*/

}

section:first-of-type > div {
  width: 100%;
  max-width: 505px;
  /*color: var(--yellow-color);*/
}

section:nth-of-type(2) > p,
section:nth-of-type(2) > blockquote {
  word-wrap: break-word;
}
section:first-of-type > div > h1,
section:last-of-type > div > h1 {
  height: auto;
  margin: 0;
  background-color: transparent;
  /*color: var(--yellow-color);*/
}

section:first-of-type > div > p {
  text-align: center;
}

section:first-of-type > div:nth-of-type(3) {
  text-align: center;
}

/*section:first-of-type > div:nth-of-type(2) > h2:before,
section:first-of-type > div:nth-of-type(1) > h3:before {
  background-color: var(--yellow-color);
}*/

section:nth-of-type(2) {
  padding-top: var(--padding);
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: var(--yellow-color);
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--purple-color);
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  transition: background var(--glitched-duration);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}


/* titles */

h1 {
  font-size: 3em;
  line-height: 120%;
  margin: 0;
  text-align: center;
  color: var(--black-color);
  text-shadow: 0 0 5px var(--black-color);
}

h1 {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--yellow-color) center center no-repeat;
  background-size: cover;
  margin-bottom: var(--padding);
}

section:nth-child(odd) h1 {
  background-color: var(--black-color);
  color: var(--yellow-color);
  text-shadow: 0 0 5px var(--yellow-color);
}

h2,
h3,
h4 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 200;
  position: relative;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-weight: 300;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.2rem;
  font-weight: 700;
}

h2:before,
h3:before,
h4:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 2px;
  width: 100%;
  height: 10px;
  background-color: var(--black-color);
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}

h2.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.7);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

h3.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 1.1);
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
}

h4.glitched {
  animation-name: h1glitched;
  animation-duration: calc(var(--glitched-duration) * 2.1);
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes h1glitched {
  0% {
    transform: skew(-20deg);
    left: -4px;
  }
  10% {
    transform: skew(-20deg);
    left: -4px;
  }
  11% {
    transform: skew(0deg);
    left: 2px;
  }
  50% {
    transform: skew(0deg);
  }
  51% {
    transform: skew(10deg);
  }
  59% {
    transform: skew(10deg);
  }
  60% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

h2:before {
  clip-path: polygon(0px 5px, 35px 5px, 40px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 20px 10px, 15px 6px, 0px 6px);
}

h2.glitched:before {
  animation-name: h2beforeglitched;
  animation-duration: calc(var(--glitched-duration) * 2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes h2beforeglitched {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1);
  }
  11% {
    transform: scaleY(-1);
  }
  50% {
    transform: scaleY(-1);
  }
  51% {
    transform: scaleY(1);
  }
  59% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

h3:before {
  clip-path: polygon(0px 5px, 10px 5px, 15px 0px, 40px 0px, 45px 5px, 100% 5px, 100% 6px, 31px 6px, 27px 2px, 15px 2px, 8px 10px, 0px 10px);
}

h4:before {
  clip-path: polygon(0px 3px, 15px 3px, 20px 0px, 80px 0px, 85px 3px, 100% 3px, 100% 4px, 85px 4px, 80px 7px, 20px 7px, 15px 4px, 0px 4px);
}

h2:after,
h3:after,
h4:after,
p:after {
  content: "_";
  animation-name: hxafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h3:after,
h4:after {
  animation-direction: reverse;
  animation-duration: calc(var(--glitched-duration) / 2);
}

@keyframes hxafter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

section:nth-child(odd) h2,
section:nth-child(odd) h3,
section:nth-child(odd) h4 {
  color: var(--yellow-color);
}

section:nth-child(odd) h2:before,
section:nth-child(odd) h3:before,
section:nth-child(odd) h4:before,
section:nth-child(odd) hr {
  background-color: var(--yellow-color);
}

/* Images */

img:not(section:first-of-type img, section:nth-of-type(2) img) {
  padding: 30px ;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin: 0 calc(var(--padding) * 0.4);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px)  calc(100% - 10px), calc(80% - 15px) calc(100% - 0px), 10px  calc(100% - 0px), 0% calc(100% - 10px));
  background-color: var(--black-color);
  max-width: calc(100% - (var(--padding) * 0.8));
  box-sizing: border-box;
}

section:nth-of-type(odd) img:not(section:first-of-type img, section:nth-of-type(2) img) {
  background-color: var(--yellow-color);
}

@media (min-width: calc(100vh * 0.7)) {
  img {
    margin: 0 var(--padding);
  }
}

section:nth-of-type(odd) > img {
  background-color: var(--yellow-color);
}

/* Paragraphs and lists */
section > *:is(p, ul, ol) + *:is(h2, h3, h4) {
  margin-top: 30px;
}

pre {
  white-space: pre-wrap;
}

pre > code {
  font-family: 'VT323', monospace, arial;
  display: block;
  border: 30px solid var(--black-color);
  border-right: 5px solid var(--black-color);
  border-left: 5px solid var(--black-color);
  border-bottom: 24px solid var(--black-color);
  padding: 5px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: var(--yellow-color);
  font-size: 1.2rem;
  position: relative;
}

section:nth-child(odd) pre > code {
  border: 30px solid var(--yellow-color);
  border-right: 5px solid var(--yellow-color);
  border-left: 5px solid var(--yellow-color);
  border-bottom: 24px solid var(--yellow-color);
  background-color: var(--black-color);
}

pre > code:before,
blockquote > p:before {
  content: "P-14";
  display: block;
  position: absolute;
  bottom: -12px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

section:nth-child(odd) pre > code:before,
section:nth-child(odd) blockquote > p:before  {
  background-color: var(--black-color);
  color: var(--yellow-color);
}

blockquote > p {
  border: none;
  padding: 40px 15px 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  background-color: var(--black-color);
  color: var(--yellow-color);
  border-right: 3px solid var(--border-color);
  font-size: 1.2rem;
  position: relative;
}

blockquote > p:before {
  content: "T-71";
  right: 90px;
  bottom: 9px;
}

section:nth-child(odd) blockquote > p {
  border: none;
  background-color: var(--yellow-color);
  color: var(--black-color);
  border-right: 2px solid var(--border-color);
  padding: 40px 15px 30px;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100% calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px), calc(80% - 15px) 100%, 80px calc(100% - 0px), 65px calc(100% - 15px), 0% calc(100% - 15px));
  font-size: 1.2rem;
  position: relative;
}

/*section > blockquote > p > a {
  color: var(--yellow-color);
}*/

body > section:nth-child(odd) > blockquote > p > a,
body > section:nth-child(odd) > blockquote > p > a:visited {
  color: var(--black-color) !important;
}

ol > li {
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  counter-increment: li;
  
}

ol > li:before {
  content: counter(li);
  top: 0px;
  left: calc(-1.2rem - 10px);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--yellow-color);
  background-color: var(--black-color);
  font-weight: 700;
  position: absolute;
  display: block;
  clip-path: polygon(0% 0%, 60% 0%, 100% 40%, 100% 100%, 0% 100%);
}

section:nth-child(odd) ol > li:before {
  color: var(--black-color);
  background-color: var(--yellow-color);
}



table {
  margin: 15px auto;
  border: 3px dashed var(--yellow-color);
}

section:nth-child(even) table {
  border-color: var(--black-color);
}

section > div:has(table) {
  overflow-x: auto;
  margin-bottom: 30px;
}

table thead tr th {
  padding: 10px;
  font-size: 1.1em;
  font-weight: 400;
  font-family: 'VT323', monospace, arial;
}

table thead tr:first-child th {
  font-size: 1.5em;
}

table tbody tr > * {
  padding: 5px;
}

table tbody tr th[rowspan] {
  background-color: var(--purple-color);
}

table thead {
  background-color: var(--purple-color);
}

table tbody tr>* {
  transition: all 0.6s;
}

table tbody tr th[colspan] {
  background-color: var(--purple-color);
}

table tbody tr:nth-child(odd) {
  background-color: var(--yellow-color);
}

table tbody tr:nth-child(odd) *:is(th,td) {
  color: var(--black-color);
}

/*section:nth-of-type(3) > h1 {
  background-image: url('../images/cyberpunk_sketch_by_thefearmaster.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}*/

section:last-of-type {
  max-height: calc(100vh - 1px);
  min-height: calc(100vh - 1px);
}

section:first-of-type,
section:last-of-type {
  background-image: url('../images/4664.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

/* Botón */

a.download {
  --text: "R-25";
  --background-color: var(--red-color);
  display: block;
  border: none;
  border-radius: 0%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 35px 75px;
  margin: 10px 20px 10px 0px;
  position: relative;
  color: #fff;
  border-right: 3px solid var(--border-color);
  clip-path: polygon(
    -15px 0%,
    calc(100% + 15px) 0%,
    calc(100% + 15px) 100%,
    20px 100%,
    -15px calc(100% - 35px)
  );
  cursor: pointer;
  background-color: var(--background-color);
  outline: none;
  display: inline-block;
  text-decoration: none;
}

a.download:hover {
  animation-name: buttonhover;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

a.download:after {
  content: var(--text);
  display: block;
  position: absolute;
  bottom: 0px;
  right: 25px;
  padding: 2px 2px 0px 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: var(--black-color);
  background-color: var(--yellow-color);
  border-left: 2px solid var(--border-color);
}

a.download:hover:after {
  animation-name: buttonhoverafter;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

a.download:before {
  --outside: 4px;
  content: "";
  position: absolute;
  display: none;
  background-color: var(--background-color);
  width: calc(100% + (var(--outside) * 2));
  height: 12px;
  top: 0px;
  left: calc(0px - 1px - var(--outside));
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
}

a.download:hover:before {
  display: block;
  animation-name: buttonhoverbefore;
  animation-duration: var(--glitched-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/*p:has(a img[alt^=Retrato]) {
  float: left;
  width: 50%;
}*/

blockquote {
  clear: both;
  margin: 0;
}

@keyframes buttonhover {
  0% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  61% {
    transform: skew(10deg);
  }
  70% {
    transform: skew(10deg);
  }
  71% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes buttonhoverbefore {
  0% {
    display: none;
    top: 0px;
  }
  10% {
    display: none;
    top: 0px;
  }
  11% {
    display: block;
    top: 10px;
    left: calc(0px - 0px - var(--outside));
  }
  29% {
    top: 10px;
  }
  30% {
    display: none;
    top: 0px;
  }
  50% {
    display: none;
    top: 0px;
  }
  51% {
    display: block;
    top: 55px;
    filter: blur(1px);
    height: 22px;
  }
  90% {
    display: block;
    top: 55px;
    height: 22px;
  }
  91% {
    filter: blur(0px);
    display: none;
    top: 0px;
    height: 12px;
  }
  100% {
    display: none;
    top: 0px;
  }
}

@keyframes buttonhoverafter {
  0% {
    right: 45px;
  }

  10% {
    right: 45px;
  }
  11% {
    right: 35px;
  }
  20% {
    transform: skew(0deg);
  }
  21% {
    transform: skew(-10deg);
  }
  40% {
    transform: skew(-10deg);
  }
  41% {
    transform: skew(0deg);
  }
  49% {
    right: 35px;
  }
  50% {
    right: 55px;
  }

  60% {
    right: 55px;
  }
  61% {
    right: 35px;
  }
  70% {
    transform: skew(0deg);
  }
  71% {
    transform: skew(10deg);
  }
  80% {
    transform: skew(10deg);
  }
  81% {
    transform: skew(0deg);
  }
  100% {
    right: 35px;
  }
}

h1 > strong {
  opacity: 0;
}


@media print {
  @page {
    size: A4;
    margin: 0;
  }

  .nopdf {
    display: none !important;
  }

  .saltopagina {
    display: block;
    page-break-before: always;
    height: 1px;
    padding: 0;
    margin: 0px;
    opacity: 0; 
  }

  section .saltopagina:not(li) + * {
    margin-top: var(--padding);
  }
 
  body:after { 
    opacity: 1;
  }

  body > section:after,
  body > section:before { opacity: 1; }

  h1 {
    margin-left: -10px !important;
    margin-right: -10px !important;
    height: calc(100vh - 1px);
    position: relative;
    z-index: 10;
  }

  section:first-of-type > div:nth-of-type(3) {
    padding-bottom: 90px;
  }
}

/* Indice */

@media print {

  .columns {
    columns: 2;
  }
  
  .saltopagina + .columns *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  body>section:nth-of-type(3) {
    padding: 0 var(--margin) ;
  }
  
  body>section:nth-of-type(3)>div {
    padding-top: var(--margin);
    width: 100%;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
  }
  
  /*body>section:nth-of-type(3) > div:first-of-type,
  body>section:nth-of-type(3)>div:nth-of-type(2) {
    padding-top: 0;
  }*/

  body>section:nth-of-type(3) .saltopagina {
    width: 100%;
  }
}

@media screen {
  body>section:nth-of-type(3) {
    padding: var(--padding) 0px;
    box-sizing: border-box;
  }
  body>section:nth-of-type(3) div:not(body>section:nth-of-type(3) div:last-of-type) {
    padding: 0;
  }
  blockquote + div.saltopagina + blockquote {
    border-top: none; margin-top: -50px;
  }
}

.likeH1,
.likeSPAN,
.likeH2,
.likeH3 {
  display: block;
  cursor: pointer;
  margin: 0 0 1px 0;
  text-decoration: none;
  font-size: .7em;
  max-height: 19px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.likeH1,
.likeSPAN {
    font-family: 'Oswald', sans-serif;
}

.likeH2 {
  padding: 0 0 0 15px;
}

.likeH3 {
  padding: 0 0 0 30px;
}

.likeH1 span, .likeSPAN span, .likeH2 span, .likeH3 span {
  display: none;
  float: right;
  margin-right: 5px;
}

@media print {
  .likeH1 span,
  .likeSPAN span,
  .likeH2 span,
  .likeH3 span {
    display: block;
  }
}